@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light-bg text-gray-900 antialiased dark:bg-dark-bg dark:text-gray-100;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply rounded bg-gray-300 dark:bg-gray-700;
}
